* {
  margin: 0;
  padding: 0;
}

p {
  text-align: center;
  font-size: 1.125rem;
  font-weight: 400;
  font-style: italic;
  width: 33%;
  margin: auto;
}

h1 {
  display: flex;
  font-size: 3.75rem;
  font-weight: 300;
  color: #fff;
  text-align: center;
  background-color: #393939;
  height: 12.5rem;
  width: 18.75rem;
  justify-content: center;
  align-items: center;
}
h2 {
  text-align: center;
  font-size: 3.75rem;
  font-weight: 300;
  color: #393939;
  margin: center;
}

a {
  text-decoration: none;
}

/* nav */
.nav {
  background-color: #fff0ed;
  padding: 15px;
}

.nav__container-ul {
  display: flex;
  list-style-type: none;
  align-self: flex-end;
}
.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__container-left {
  display: flex;
}
.nav__container-ul {
  justify-content: flex-end;
}
.nav__container-li {
  font-size: 1.3125rem;
  font-weight: 400;
  margin: 1.25rem;
}

.nav__container-li__color {
  color: #5bacc3;
}

.nav__container-h2 {
  font-size: 3.75rem;
  font-weight: 300;
  color: #393939;
}

.nav__container-a {
  color: #393939;
}

.nav__logos {
  width: 3.125rem;
  height: 3.125rem;
}
/* menu */
.menu {
  background-image: url("../Assets/images/coffee-circle.jpg");
  width: 100%;
  height: 43.75rem;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.menu__container {
  position: absolute;
  width: 300px;
  height: 200px;
  border: solid #5bacc3 5px;
  top: 230px;
  right: 460px;
}

/* Sub Navigation */
.sub__navigation {
  text-align: center;
  background-color: #393939;
  width: 100%;
  height: 5rem;
}
.sub__navigation--a {
  color: #fff;
  border-left: 0.25rem solid #5bacc3;
}
.sub__navigation--li {
  text-align: center;
  display: inline;
  padding: 1.25rem;
  font-size: 1.3125rem;
  font-weight: 400;
  line-height: 5rem;
}

/* Product */
.products__h3 {
  text-align: center;
  font-size: 2.0625rem;
  font-weight: 300;
  color: #393939;
  padding: 1.25rem;
  padding-bottom: 0%;
}

/* Background Colors  */

.products__background--pink {
  background-color: #fff0ed;
  width: 100%;
  /* padding: 1.25rem; */
}

.products__background--gray {
  background-color: #f7f7f7;
  width: 100%;
  /* padding: 1.25rem; */
}

.products__prices--color {
  color: #5bacc3;
}
